*{ 
   font-family: Arial;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
   background-color: gray;
   background: url("images/banner.png") center / 100%;
   aspect-ratio: 6/1;
}
.menu{
 flex: 5%;
   background-color: lightgray;
}
.menu a{
   padding: 15px 20px;
   color: black;
}
.menu hover{
   background-color: tomato;
   color: white;
}
.content{
 flex: 70%;
   background-color: white;
}
.content iframe{
   flex: 1;
   border: none;
   width: 100%;
   height: 100%;
}
      
.footer{
 flex: 10%;
   background-color: gray;
}

.f1 {
  color: red;
margin-top: 18pt;
margin-bottom: 12pt;
Font-size: 20px;
font-weight: bold;
font-family: Arial;
}
.f2
{
color: black;
margin-top: 6pt;
margin-bottom: 6pt;
font-size: 15px;
font-style: normal;
font-family: Arial;
}
